#main{
	position: relative;
}

#logo{
	width: 230px;
}

#titulo{
	font-size: 2.8rem;
	padding: 20px;
	margin: 0px;
	border: 0px;
	color: white;
	text-decoration: bold;
	font-family: sans-serif;
	color: #5E17EB;
}